body{
    background-color:#EADDE1;
    padding: 1rem 2rem;
}

h2{
    color: #A18C93;
    padding: 1rem;
    text-align: center;
}

h3{
    color: #7E8280;
}

h5{
    text-align: center;
}

header{
    margin-bottom: 2rem;
    background-image: url("./images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 12.5rem;
    position: relative;
}

.header-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn{
    background-color: #F3EAF4;
    justify-content: center;
    color: black;
    display: flex;
    align-items: center;
}

li{
    background-color: #F3EAF4;
    border-radius: 10%;
    margin: 0.1rem;
    color: black;
    display: flex;
    align-items: center;
    font-size: x-large;
 }
 
 .education-list{
    width: 31.25rem;
    height: 5rem;
    border-radius: 0%;
    background-color: #EADDE1;
    display: list-item;
    list-style-type: circle;
 }

.interest-image{
    padding: 1rem;
    height: 25rem;
    width:34.375rem;
    border-radius: 10%;
}

.education-image{
    padding: 1rem;
    height: 34.375rem;
    width: 50rem;
    border-radius: 8%;
}

.mvgarcia{
    height: 25rem;
    width: 19.3137rem;
    margin: 1rem;
    border-radius: 10%;
}

.project-image{
    width: 25rem;
    margin: 1rem;
}

.icons{
    padding: 0.2rem;
    height: 2.5rem;
}

.centrar-horizontal{
    display: flex;
    justify-content: center;
}

.centrar-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color: #6d4f59fd;
}

p{
    font-size: x-large;
}

.p-card{
    font-size: large;
}

